.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #DCE4F2;
    flex-direction: column;
}

.homeContainer h1 {
    font-size: 8em;
    margin: 0;
}

.fade {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 2.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.titleAnime {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.titleAnime .letters {
    position: absolute;
    margin: auto;
    opacity: 0; 
}

.homeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}