* {
    font-family: 'Source Code Pro', monospace;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(-45deg, #BF348E, #D984C2, #6F36BF, #6BA7BF, #4ED998);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}